* {
	box-sizing: border-box;
}

#log-container, #admin-controls {
	display: none;
}

#log {
	font-family: monospace;
}

#admin-controls button {
	width: 30px;
	height: 30px;
	display: inline-block;
	font-weight: bold;
}
